body{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
}
// Life after the rainbow
nav{
  grid-area: navbar;
}
aside{
  grid-area: sidebar;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}
